.ExtraInfo {
    width: 750px;
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 30px 20px 20px;
    border-radius: 10px;
    border-left: 10px solid #6EC668;
    margin-top: -20px;
    margin-bottom: 30px;
}