.ForwardAlgorithm {
    padding-bottom: 50px;
}

.backgroundImage {
    height: 100px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 5;
}

.homeButton {
    margin: -70px auto 0 auto;
    position: relative;
    z-index: 10;
}

.observationImageInText {
    margin-right: 5px;
    display: inline;
    justify-content: center;
} 

.observationImageInText img {
    height: 14px;
    position: relative;
    top: 1.5px;
}


.oInText {
    color: #43AFCA !important;
    font-weight: 900;   
}

.extraLineHeight {
    margin-top: 10px;
}

.noUpperCase {
    text-transform: inherit !important;
}