.settings {
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 3px solid #FFA500;
    padding: 10px 20px;
}

.horizontalLine {
    width: 99%;
    height: 2px;
    border-radius: 40px;
    background-color: #FFA500;
    margin: 9px 0;
}

.UserExampleInputContainer {
    display: flex;
    align-items: center;
}

.greenMessage, .redMessage {
    margin: -5px 0 15px 0;
}

.greenMessage span, .greenMessage i {
    // color: #6EC668;
}

.redMessage span, .redMessage i {
    // color: #E95252;
}

.greenMessage img, .redMessage img {
    width: 14px;
    transition: .2s;
}

.greenMessage img {
    transform: rotate(0);
    filter: invert(81%) sepia(9%) saturate(2428%) hue-rotate(64deg) brightness(90%) contrast(77%);
}

.redMessage img {
    transform: rotate(180deg);
    filter: invert(44%) sepia(77%) saturate(2091%) hue-rotate(328deg) brightness(94%) contrast(94%);
}

.alphaVisualizer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.iterButton {
    padding: 5px 0;
    width: 90px;
    text-align: center;
    background-color: #f0f0f0;
    border: 2px solid #FFA500;
    transition: .2s;
    margin-top: 30px;
    border-radius: 18px;
    user-select: none;
    font-size: 0.9rem;
}

.iterButton:hover {
    cursor: pointer;
    // transform: scale(1.03);
    background-color: #fff;
    letter-spacing: 0.03rem;
}