.ExampleButton {
    border-radius: 50px;
    // padding: 10px 15px;
    height: 40px;
    width: 160px;
    background-position: 'center';
    background-size: 200px;
    background-position-x: -30px;
    background-repeat: 'no-repeat';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.ExampleButton:hover {
    cursor: pointer;
    transform: scale(1.02);
    // border: 3px solid #6EC668;
}

.ExampleButton p {
    color: #fff;
}

.inActiveBorder {
    border: 3px solid #838383;
}

.activeBorder {
    border: 3px solid #6EC668;
}

.activeBorder:hover {
    cursor: default;
    transform: scale(1.0);
}