$white: #fff;
$borderRadius: 10px;
$lightBlue: #43AFCA;
$darkBlue: #287689;
$darkBlueHover: #123741;

.Subsection {
    background-color: $white;
    width: 750px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 60px;
}

.headerContainer {
    display: grid;
    grid-template-columns: 700px 50px;
    grid-template-rows: 50px;
    background-color: rgba(255, 255, 255, 0);
}

.applyRadiusBottomRight {
    border-bottom-right-radius: $borderRadius;
}

.applyRadiusBottomLeft {
    border-bottom-left-radius: $borderRadius;
}

.headerPart {
    background-color: $lightBlue;
    color: $white;
    padding: 10px 0;
    border-top-left-radius: $borderRadius;
    transition: .2s;
}

.showHideContentToggler {
    background-color: $darkBlue;
    box-sizing: border-box;
    border-top-right-radius: $borderRadius;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: .2s;
}

.showHideContentToggler img {
    width: 30px;
    transform: rotate(180deg);
    transition: .7s;
    user-select: none;
}

.rotateArrow {
    transition: .7s;
    transform: rotate(0deg) !important;
}

.showHideContentToggler:hover {
    background-color: $darkBlueHover;
    cursor: pointer;
}

.contentPart {
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: hidden;
	transition-duration: .7s;
}