.Subsection {
    background-color: #fff;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.headerPart {
    background-color: #43AFCA;
    color: #fff;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.showHideContentToggler {
    float: right;
    background-color: #287689;
    height: 100%;
    box-sizing: border-box;
}

.contentPart {
    padding: 10px;
}