.ImportantInfo {
    text-align: center;
    margin: 15px auto;
    background-color: rgba(110, 198, 104, 0.15);
    width: 100%;
    box-sizing: border-box;
    border-top: 3px solid #6EC668;
    border-bottom: 3px solid #6EC668;
    border-radius: 2px;
    padding: 0 10px;
}

.ImportantInfo p {
    padding: 4px 0 2px 0;
}