$lineThickness: 2px;
$black: #2d2d2d;
$bracketHeight: 30px;
$bracketWidth: 7px;


.Matrix {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


.leftBracket {
    border-top: $lineThickness solid $black;
    border-left: $lineThickness solid $black;
    border-bottom: $lineThickness solid $black;
    height: $bracketHeight;
    width: $bracketWidth;
    float: left;
}

.rightBracket {
    border-top: $lineThickness solid $black;
    border-right: $lineThickness solid $black;
    border-bottom: $lineThickness solid $black;
    height: $bracketHeight;
    width: $bracketWidth;
    float: left;
}

.matrixContent {
    display: table;
    flex-direction: column;
}

.rowContainer {
    display: table-row;
    flex-direction: row;
}

.rowContainer div {
    display: table-cell;
    text-align: center;
    vertical-align:middle;
    line-height: 27px;
    width: 50px;
    padding: 0 5px;
}