.settings {
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 3px solid #FFA500;
    padding: 10px 20px;
}

.horizontalLine {
    width: 99%;
    height: 2px;
    border-radius: 40px;
    background-color: #FFA500;
    margin: 9px 0;
}

.UserExampleInputContainer {
    display: flex;
    align-items: center;
}

.alphaVisualizer {

}

.exampleSettings {

}

.matricesSettings {

}