$checkboxWidthAndHeight: 17px;

.checkBoxTicked {
    width: $checkboxWidthAndHeight;
    height: $checkboxWidthAndHeight;
    background-color: #fff;
    transition: .15s;
    display: flex;
    justify-content: center;
    padding: 0 0 1px 0px;
    align-items: center;
    color: #FFA500;
    font-size: 26px;
    box-sizing: border-box;
    user-select: none;
}

.checkBoxTicked:hover {
    cursor: default;
}

.checkBoxNotTicked {
    width: $checkboxWidthAndHeight;
    height: $checkboxWidthAndHeight;
    background-color: #fff;
    transition: .15s;
    display: flex;
    padding: 0 0 1px 0px;
    justify-content: center;
    align-items: center;
    color: rgba(255, 166, 0, 0);
    font-size: 26px;
    box-sizing: border-box;
    user-select: none;
}

.checkBoxNotTicked:hover {
    cursor: pointer;
    color: rgba(255, 166, 0, 0.4);
}