.HomeButton {
    height: 150px;
    width: 150px;
    background-color: #fff;
    border: 2px solid #6EC668;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.HomeButton img {
    height: 75%;
}